# Supabase Configuration
# Получите эти значения в панели Supabase: https://supabase.com/dashboard/
VITE_SUPABASE_URL=https://fhudnkgiycwfnywxqedx.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZodWRua2dpeWN3Zm55d3hxZWR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyMDI3NTksImV4cCI6MjEwNjc3ODc1OX0.io__r_WqY_drsWJHZx0nZwutOnh8JGzzRJVy8eRCzJg
